= stylesheet_link_tag    "application"
= javascript_include_tag "application"

:css 
  body {
    padding: 0px;
    background: none;
  }

.answer_widget
  .answers.rounded.border
    - answers = @question.answers.shuffle
    - count = answers.size
    - answers.each_with_index do |answer, i|
      %h2{:id => ('correct_answer' if (answer["correct"] and @show_answer)), :class => "#{('bottom_border' if i < (count - 1))} #{('incorrect_answer' if !answer['correct'] and @show_answer)}", :correct => answer["correct"].to_s, :answer_id => answer.id} 
        - if answer["correct"] and @show_answer
          %i.icon-ok{:style => "color: green;"}
        = answer.text.html_safe
      .answer_container.input{:type => 'text'}