.well.span5
  #form_container
    / %p.header Post a Question.
    #form_content.form-horizontal
      = form_tag('/questions/save_question_and_answers', :method => 'POST') do
        - unless current_user
          .auth_container.row
            %label.instruction Authenticate with Twitter.
            %p.explanation Sign in so we know who you are.
            %button.btn Sign In
        .question_container.row
          %label.instruction Write your question.
          %p.explanation The question you would like posted to QuizMe.
          = text_area_tag 'question', nil, :placeholder => 'Enter question here...', :rows => 3, :class => 'question input-xlarge span4'
        .answers_container.row
          %label.instruction Write some answers.
          %p.explanation A correct answer, at least one incorrect.
          = text_field_tag 'canswer',  nil, :placeholder => 'Enter correct answer...', :class => 'answer input-xlarge span4'
          = text_field_tag 'ianswer1',  nil, :placeholder => 'Enter incorrect answer...', :class => 'answer input-xlarge span4'
          %a Add answer
          =hidden_field_tag 'topic_tag', @topic_tag
          =hidden_field_tag 'account_id', @account_id
        .footer
          = submit_tag 'Save', :class => 'btn'
