%form.well.row.form-horizontal.span5
  .header
    %p.lead Post a New Question
  = form_tag('/questions/save_question_and_answers', :method => 'POST') do
    - unless current_user
      .auth_container.row.span4.page-header
        %h3 Sign in with Twitter.
        = image_tag "twitter-sign-in.png", :id => "sign_in"
    .question_container.row.span4.page-header
      %h3 Write your question.
      #question_dummy.input
        %span#account= "@QuizMeChem "
        %span#question{:contenteditable => true} Your question
        %span#link= " http://bit.ly/LVJ5VQ"
        / = text_area_tag 'question', nil, :placeholder => 'Enter question here...', :rows => 3, :class => 'question input-xlarge span4'  
      %p#character_count 140
    .answers_container.row.span4.page-header
      %h3 Write answers.
      #answers
        = text_field_tag 'canswer',  nil, :placeholder => 'Correct answer...', :class => 'answer input-xlarge span4'
        = text_field_tag 'ianswer1',  nil, :placeholder => 'Incorrect answer...', :class => 'answer input-xlarge span4'      
      %a#add_answer Add answer
      =hidden_field_tag 'topic_tag', @topic_tag
      =hidden_field_tag 'account_id', @account_id
    .submit_container.row.span4
      = submit_tag 'Submit', :class => 'btn btn-primary'
