:css
  body {background:white !important;}
  .navbar-inner {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
  .question-row img {height:18px;}
  @media (min-width: 1200px) {.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 874px;}}

#moderate_questions.index
  .header.form-actions
    %h2
      Moderated Questions
    .stats
      %ul.breadcrumb
        %li
          %span.divider
            Moderated:
            %span.badge-success.badge
              = @moderated_count
        %li
          %span.divider
            Pending:
            %span.badge
              = @pending_count

  %table.table.questions
    %thead
      %tr
        %th
        %th{:style => 'width:16px;'}
        %th Asker
        %th{:style => 'width:55%;'} Text
        %th Created
        %th Moderated
        %th Status
    %tbody

    - @questions.each_with_index do |question, i|
      %tr.question-row{question_id: question.id}
        %td.faded= i + params[:page].to_i * 25 + 1
        %td
          - question_asker = question.user
          = image_tag(question_asker.twi_profile_img_url, :class => "contributor rounded", :rel => "tooltip", :title => question_asker.twi_screen_name, "data-placement" => "left")
        %td= Asker.find(question.created_for_asker_id).twi_screen_name
        %td
          %p{:style => "font-weight: bold;"}
            = best_in_place question, :text, :type => :textarea
          - question.answers.each_with_index do |answer, i|
            %p
              %i.correct_indicator{:class => (answer.correct ? "icon-ok-sign" : "icon-remove-sign")}
              = best_in_place answer, :text, :type => :input
          %p
            Hint:
            = best_in_place question, :hint, :type => :textarea
            
        %td.has-tooltip{:rel => "tooltip", "data-original-title" => question.created_at, "data-placement" => "bottom"}
          = question.created_at.strftime "%m/%d"
        %td.moderation_type
          - if question.publishable
            %span.label.label-success Publishable
          - elsif question.innacurate
            %span.label.label-important Inaccurate
          - elsif question.ungrammatical
            %span.label.label-important Ungrammatical
        %td.status
          - if question.status == 0
            %span.label.pending Pending
          - elsif question.status == 1
            %span.label.label-success.approved Approved
          - elsif question.status == -1
            %span.label.label-important.rejected Rejected

  .pagination-wrapper
    = paginate @questions