:css
  body {background:white;}
  .navbar-inner {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
  .asker-row img {height:18px;}
  @media (min-width: 1200px) {.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 874px;}}

- model_class = Question.new.class
#moderate_questions
  .page-header
    %h1 Submitted Questions
    / # %h1= t '.title', :default => model_class.model_name.human.pluralize
  %table.table{:style => "background: white;"}
    %thead
      %tr
        %th
        %th Author
        %th Question
        %th Handle
        %th Created
        %th.span2= t '.actions', :default => t("helpers.actions")
    %tbody.asker-row
      - @questions.each_with_index do |question, i|
        %tr{:id => "question_#{question.id}"}
          %td= i + 1
          %td= "@#{question.user.twi_screen_name}" if question.user
          %td.question_area
            %p{:style => "font-weight: bold;"}
              = best_in_place question, :text, :type => :textarea
            - question.answers.each_with_index do |answer, i|
              %p
                %i.correct_indicator{:class => (answer.correct ? "icon-ok-sign" : "icon-remove-sign")}
                = best_in_place answer, :text, :type => :input
            %p
              Hint:
              = best_in_place question, :hint, :type => :textarea
          - handle = User.askers.where(:id => question.created_for_asker_id).first.try(:twi_screen_name)
          %td= handle
          %td= question.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d %H:%M")
          %td.span2
            .btn-group
              %button.btn.btn-mini.btn-success{:qid => question.id} Accept
              %button.btn.btn-mini.btn-danger{:qid => question.id} Reject