- if @asker
  - content_for :title, "Daily #{@asker.subject} Quiz Questions"

= render partial: "feeds/account_info"

.columns
  = render partial: "feeds/feed"

  .timeline-container
    %ul.timeline
      %li.feed-publication
      .content
        %h3
          %span.timeago{"data-bind" => "timeago: firstPostedAt"}
          %span= @publication._question['text']

        .answers{'data-bind' => "foreach: answers"}
          .answer{'data-bind' => 'click: respondToQuestion, css: {correct: correct(), incorrect: incorrect(), grading: grading()}'}
            %span{'data-bind' => 'text: text'}
            %img{src: '/assets/ajax-loader.gif'}
            
  .right-column


    = render partial: "feeds/stream"

    - if current_user
      = render partial: "feeds/my_badges"
    - else
      = render partial: "feeds/my_badges_unauth"


- content_for(:modals) do
  = render :partial => "feeds/question_modal"