- if @asker
  - content_for :title, "Daily #{@asker.subject} Quiz Questions"

= render partial: "feeds/account_info"

.columns
  - content_for :question do
    %li.feed-publication.visible.questions-show{'data-publication-id' => @publication.id}
      .content.active
        %h3
          %span= @publication._question['text']

        - @publication._answers.each do |id, answer_text|
          .answers
            .answer{'data-bind' => 'click: respondToQuestion, css: {correct: correct(), incorrect: incorrect(), grading: grading()}', answer_id: id}
              %span= answer_text
              %img{src: '/assets/ajax-loader.gif'}

  = render partial: "feeds/feed"

  .right-column
    = render partial: "feeds/stream"

    - if current_user
      = render partial: "feeds/my_badges"
    - else
      = render partial: "feeds/my_badges_unauth"

    = render partial: "topics/lessons"


- content_for(:modals) do
  = render :partial => "feeds/question_modal"