- content_for :title, "#{@asker.twi_screen_name} - #{@question.text}"
#feed_container.span10{:style => "float: none !important;"}
  #wrapper{:style => "background: none !important;"}
    #question.span6
      .conversation.border-color
        .post.parent
          .content
            = image_tag(@asker.twi_profile_img_url, :class => "rounded")
            %a{:href => "/feeds/#{@asker.id}"}
              %h5= @asker.twi_screen_name
            %a.twi_link{:href => "http://www.twitter.com/#{@asker.twi_screen_name}", :target => "_blank"}= "@#{@asker.twi_screen_name}"
          %h1= @question.text.html_safe
          .answers.rounded.border
            - answers = @question.answers.shuffle
            - count = answers.size
            - answers.each_with_index do |answer, i|
              %h2{:id => ('correct_answer' if (answer["correct"] and @show_answer)), :class => "#{('bottom_border' if i < (count - 1))} #{('incorrect_answer' if !answer['correct'] and @show_answer)}", :correct => answer["correct"].to_s, :answer_id => answer.id} 
                - if answer["correct"] and @show_answer
                  %i.icon-ok{:style => "color: green;"}
                = answer.text.html_safe
              .answer_container.input{:type => 'text'}
                .shadow-top
                .tweet
                  %span#account= "@#{@asker.twi_screen_name}"
                  %span#answer= answer.tweetable(@asker.twi_screen_name).html_safe
                .answer_controls
                  %a.tweet_button.btn.btn-primary{:href => (user_omniauth_authorize_path(:twitter, :question_id => @question.id, :answer_id => answer.id) unless current_user)} Answer

                .shadow-bottom
        .subsidiaries{:style => "display: none;"}
        .loading{:style => "display: none;"}
          Loading...
        = render :partial => "feeds/activity", :locals => {:post => @question}
        .more{:style => "display: none;"}
          %a.answer_more{:href => "/feeds/#{@asker.id}"} Answer more questions!

#subsidiary_template.post{:style => "display: none;"}
  .content
    = image_tag(@asker.twi_profile_img_url, :class => "rounded")  
    %h5= "User Name"
    %p= "Post content"

= hidden_field_tag :asker_id, @asker.id
= hidden_field_tag :question_id, @question.id
= hidden_field_tag :user_img, current_user.twi_profile_img_url if current_user
= hidden_field_tag :user_name, current_user.twi_screen_name if current_user
= hidden_field_tag :feed_name, @asker.twi_screen_name
= hidden_field_tag :publication_id, @publication.id
= hidden_field_tag :answer_id, @answer_id
= hidden_field_tag :show_answer, @show_answer
