.sessions-new
  = render partial: "feeds/account_info"

  .login-container
    .login
      %ul
        %li.appear
          .content
            %h3 Sign into Wisr:

            %a.login-btn{href: user_omniauth_authorize_path(:twitter, use_authorize: false, variant: request.variant)}
              %i.fa.fa-twitter
              | Connect with Twitter

      .divider
        %span.dash
        or 
        %span.dash

      %ul
        %li.appear 
          .content
            = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              = devise_error_messages!
              %div
                = f.email_field :email, placeholder: 'Email'
              %div
                = f.password_field :password, placeholder: 'Password'

              %a.login-btn.login-btn-email
                %i.fa.fa-envelope
                | 
                = f.submit "Sign in with Email"

        %li.appear.change-form
          %a{href: '/users/sign_up'} New to Wisr? Sign up