= render partial: 'feeds/silhouette'

.topfold

  %span.asker-photo= quest_image_tag
  
  .title
    %h1= @asker.subject
    %h2
      - if @asker.id == 8765
        Daily quiz questions about anything from science to Harry Potter!

      - else
        Daily
        = @asker.subject
        quiz questions

        | 
        
        = precede '@' do
          %a{href: "http://twitter.com/#{@asker.twi_screen_name}"}= @asker.twi_screen_name