#header.row.rounded.border-color
	#account_information.span6
		.container
			.inner_container
				.account_image
					= image_tag(@asker.twi_profile_img_url.sub("_normal.", "_reasonably_small."), :class => "rounded")
				.account_text
					.name-wrapper
						%h2
							%span.name= @asker.twi_screen_name
							- if current_user and (@asker.id == current_user.id or current_user.is_role?('admin') or current_user.twi_screen_name == 'StudyEgg')
								%ul.nav
									%li
										.dropdown.nav-link
											%a{:href => "#", 'data-target' => "#"} 
												%i.icon-cog
											
											%ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
												%li
													%a{:href => "/feeds/#{@asker.id}/manage"} Moderate
												%li
													%a{:href => "/askers/#{@asker.id}/edit"} Edit
						.clr
						
					.clr
					%h3= "@#{@asker.twi_screen_name}"
					- if @new_user_question
						%p New user question:
						%p= "Q: #{@new_user_question.text}"
						%p= "A: #{@new_user_question.answers.where(:correct => true).first.text}"
					- else					
						%p= @asker.description
					- if @author
						.credit
							%i created by
							= link_to "@#{@author.twi_screen_name}", "http://twitter.com/#{@author.twi_screen_name}", :target => "_blank"
							%a{:href => "http://twitter.com/#{@author.twi_screen_name}", :target => "_blank"}= image_tag @author.twi_profile_img_url


	#account_stats.span3.hidden-phone
		%a.twitter-follow-button{:href => "https://twitter.com/#{@asker.twi_screen_name}", "data-show-count" => "false", "data-show-screen-name" => "false", "data-size" => "large"}= "Follow"
		%script
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		%ul
			%li{:style => "border-top: 0px solid #E8E8E8 !important;"}
				%p
					%b= @question_count 
					questions
			%li
				%p
					%b= @questions_answered
					responses
			%li
				%p
					%b= @followers
					followers