.silhouette{style: silhouette_style}
  = embed_silhouette_image + embed_silhouette_image + embed_silhouette_image
.topfold

  %span.asker-photo= quest_image_tag
  
  .title
    %h1= @asker.subject
    %h2
      - if @asker.id == 8765
        Daily quiz questions about anything from science to Harry Potter!

      - else
        = precede '@' do
          %a{href: "http://twitter.com/#{@asker.twi_screen_name}"}= @asker.twi_screen_name

        | Daily
        = @asker.subject
        quiz questions