= render partial: 'feeds/silhouette'

.topfold

  %span.asker-photo= quest_image_tag
  
  .title
    %h1
      %a{href: "/#{@asker.subject_url}"}= @asker.subject
    %h2
      - if @lesson
        = @lesson.name
        Quiz

      - elsif @asker.id == 8765
        Daily quiz questions about anything from science to Harry Potter!

      - else
        Daily
        = @asker.subject
        quiz questions