.activity_container{:style => ("display: none;" unless @actions[post.id].present?)}
	/ %p.activity ACTIVITY
	.interactions
		- if @actions[post.id]
			- @actions[post.id].each do |interaction|
				= image_tag(interaction[:user][:twi_profile_img_url], :class => "rounded interaction profile", :rel => "tooltip", :title => "#{interaction[:user][:twi_screen_name]} #{(interaction[:interaction_type] == 2 ? 'answered' : 'retweeted')}", "data-placement" => "bottom")
		- if current_user
			= image_tag(current_user.twi_profile_img_url, :class => "rounded interaction user_answered", :rel => "tooltip", :title => "#{current_user.twi_screen_name} answered", "data-placement" => "bottom", :style => "display: none;")