.feed_section
	- @publications.each do |post|
		- conversation = @responses[post.id]
		- conversation ? responded = true : responded = false
		.conversation.border-color
			.post.parent{:class => ("answered" if responded), :post_id => post.id}
				%i.icon-share-alt{:style => ("display: none;" unless responded)}
				.content
					- if post.question.user_id != 1
						- user = post.question.user
						= image_tag(user.twi_profile_img_url, :class => "rounded")
						%i.icon-user
						%h5=user.twi_screen_name
					- else
						= image_tag(@asker.twi_profile_img_url, :class => "rounded")
						%h5= @asker.twi_screen_name
					%p= post.question.text
				- unless responded
					.answers.rounded.border{:style => "display: none;"}
						- answers = post.question.answers.shuffle
						- count = answers.size
						- answers.each_with_index do |answer, i|
							%h3{:class => ("bottom_border" if i < (count - 1)), :correct => answer["correct"].to_s, :answer_id => answer.id}= answer.text
							.answer_container.input{:type => 'text'}
								.shadow-top
								.tweet
									%span#account= "@#{@asker.twi_screen_name}"
									%span#answer= " #{answer.tweetable(@asker.twi_screen_name)}"
									/ %span#url= " #{post.url}"
									/ %span#additional{:contenteditable => true}
								.answer_controls
									%a.tweet_button.btn.btn-primary{:href => ("/auth/twitter?feed_id=#{@asker.id}&post_id=#{post.id}&answer_id=#{answer.id}" unless current_user)} Tweet!
								.shadow-bottom
			.subsidiaries{:style => "display: none;"}
				- if conversation
					- count = conversation.first.posts.size
					- conversation.first.posts.each_with_index do |response, i|
						.subsidiary.post{:class => ("answered" if i < (count - 1))}
							.content
								- if response["user_id"] == @asker.id
									= image_tag(@asker.twi_profile_img_url, :class => "rounded")
									%h5= @asker.twi_screen_name
									%p= response['text']
								- else
									= image_tag(current_user.twi_profile_img_url, :class => "rounded")
									%h5= current_user.twi_screen_name
									%p= response['text']
			.loading{:style => "display: none;"}
				Loading...			
			.activity_container{:style => ("display: none;" unless @actions[post.id])}
				%p.activity ACTIVITY
				.interactions
					-if @actions[post.id]
						- @actions[post.id].each do |interaction|
							= image_tag(interaction[:user][:twi_profile_img_url], :class => "rounded interaction", :rel => "tooltip", :title => "#{interaction[:user][:twi_screen_name]} #{(interaction[:interaction_type] == 2 ? 'answered' : 'retweeted')}", "data-placement" => "bottom")
					- if current_user
						= image_tag(current_user.twi_profile_img_url, :class => "rounded interaction user_answered", :rel => "tooltip", :title => "#{current_user.twi_screen_name} answered", "data-placement" => "bottom", :style => "display: none;")