.feed_section
	- @publications.each do |publication|
		- @question_asker = publication.asker
		- @conversation = nil
		- responded = false
		- if @responses[publication.id]
			- correct = (@responses[publication.id].first.posts.where("correct is not null").present? ? @responses[publication.id].first.posts.where("correct is not null").first.correct : nil)
			- @conversation = @responses[publication.id].first
			- responded = true
		.conversation.border-color{asker_id: @question_asker.id, question_id: publication.question.id}
			.post.parent{:class => ("answered" if responded), :post_id => publication.id}
				- if first = publication.posts.first
					- if first.created_at < 1.day.ago
						%p.time= time_formatter(first.created_at)
					- else
						%p.time.timeago{:title => first.created_at.to_time.iso8601}
				%i.answered_indicator{:class => (correct.nil? ? "" : correct ? "icon-ok-sign" : "icon-remove-sign"), :style => ("display: none;" unless responded)}
				- retweeted = (current_user and @actions[publication.id] and @actions[publication.id].select { |a| a[:interaction_type] == 3 and a[:user][:id] == current_user.id}.present?) ? true : false
				%i.icon-retweet{:style => ("display: none;" unless retweeted)}
				.content
					= image_tag(@question_asker.twi_profile_img_url, :class => "rounded")
					- if publication.question.user_id != 1
						- user = publication.question.user
						%i.icon-user
						%a.asker_link{:href => "/feeds/#{@question_asker.id}"}
							%h5= @question_asker.twi_screen_name						
						via
						%a.question_via{:href => "http://twitter.com/#{user.twi_screen_name}", :target => "_blank"}
							%h5= user.twi_screen_name
					- else
						%a.asker_link{:href => "/feeds/#{@question_asker.id}"}
							%h5= @question_asker.twi_screen_name

					%p.question_text= publication.question.text.html_safe
					.post_actions
						%a.expand Answer
						- unless retweeted or (current_user and !current_user.twitter_enabled?)
							%a.retweet.rollover 
								%i.icon-retweet
								Retweet			

				- unless responded
					.answers.rounded.border{:style => "display: none;"}
						- answers = publication.question.answers.shuffle
						- count = answers.size
						- answers.each_with_index do |answer, i|
							%h3{:class => ("bottom_border" if i < (count - 1)), :correct => answer["correct"].to_s, :answer_id => answer.id}= answer.text.html_safe
							.answer_container.input{:type => 'text'}
								.shadow-top
								.tweet
									%span#account= "@#{@question_asker.twi_screen_name}"
									%span#answer= answer.tweetable(@question_asker.twi_screen_name).html_safe
								.answer_controls
									.tweet_button.btn.btn-primary{:feed_id => @index ? 1 : @question_asker.id, :post_id => publication.id, :answer_id => answer.id, :use_authorize => false} Answer
								.shadow-bottom

			.subsidiaries{:style => "display: none;"}
				- if @conversation
					- count = @conversation.posts.size
					- @conversation.posts.order("created_at ASC").each_with_index do |response, i|
						.subsidiary.post{:class => ("answered" if i < (count - 1))}
							.content
								- user = (response["user_id"] == @question_asker.id ? @question_asker : current_user)
								= image_tag(user.twi_profile_img_url, :class => "rounded")
								%h5= user.twi_screen_name
								- formatted_response = format_response(response['text'])
								- if formatted_response[1]
									%p 
										= formatted_response[0].html_safe
										%a.answer_link{:target => "_blank", :href => formatted_response[1]}= formatted_response[1]
								- else
									%p= formatted_response[0].html_safe

				.loading{:style => "display: none;"}
					Loading...	

			.activity_container{:style => ("display: none;" unless @actions[publication.id].present?)}
				.interactions
					- if @actions[publication.id]
						- @actions[publication.id].each do |interaction|
							= image_tag(interaction[:user][:twi_profile_img_url], :class => "rounded interaction profile", :rel => "tooltip", :title => "#{interaction[:user][:twi_screen_name]} #{(interaction[:interaction_type] == 2 ? 'answered' : 'retweeted')}", "data-placement" => "bottom")

					- if current_user
						= image_tag(current_user.twi_profile_img_url, :class => "rounded interaction user_answered", :rel => "tooltip", :title => "#{current_user.twi_screen_name} answered", "data-placement" => "bottom", :style => "display: none;")
						