#header.row.rounded.border-color.span6
	#account_information
		.container
			.inner_container
				.account_image
					= image_tag(@wisr.twi_profile_img_url.sub("_normal.", "_reasonably_small."), :class => "rounded")
				.account_text
					.name-wrapper
						%h2
							%span.name Wisr
							- if current_user and (current_user.is_role?('admin') or current_user.twi_screen_name == 'StudyEgg')
								%ul.nav
									%li
										.dropdown.nav-link
											%a{:href => "#", 'data-target' => "#"} 
												%i.icon-cog
											%ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
												%li
													%a{:href => "/feeds/#{@asker.id}/manage"} Moderate
												%li
													%a{:href => "/askers/#{@asker.id}/edit"} Edit
						.clr
					.clr
					%h3= "@#{@wisr.twi_screen_name}"
					%p= "Wisr is a fun way to learn collaboratively."