- user = User.find(8765)
#header.row.rounded.border-color
	#account_information.span6
		.container
			.inner_container
				.account_image
					= image_tag(user.twi_profile_img_url.sub("_normal.", "_reasonably_small."), :class => "rounded")
				.account_text
					.name-wrapper
						%h2
							%span.name Wisr
							- if current_user and (current_user.is_role?('admin') or current_user.twi_screen_name == 'StudyEgg')
								%ul.nav
									%li
										.dropdown.nav-link
											%a{:href => "#", 'data-target' => "#"} 
												%i.icon-cog
											%ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
												%li
													%a{:href => "/feeds/#{@asker.id}/manage"} Moderate
												%li
													%a{:href => "/askers/#{@asker.id}/edit"} Edit
						.clr
					.clr
					%h3= "@#{user.twi_screen_name}"
					%p= "Wisr is a fun way to learn collaboratively."

	#account_stats.span3.hidden-phone
		%a.twitter-follow-button{:href => "https://twitter.com/#{user.twi_screen_name}", "data-show-count" => "false", "data-show-screen-name" => "false", "data-size" => "large"}= "Follow"
		%script
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		%ul
			%li{:style => "border-top: 0px solid #E8E8E8 !important;"}
				%p
					%b= Publication.published_count
					questions
			%li
				%p
					%b= Post.answers_count 
					responses
			%li
				%p
					%b= Stat.followers_count
					followers