- if @leaders[:scores].count > 0 
  #scoreboard.rounded.border-color
    .header
      %h4
        Leaderboard
    %ul.unstyled
      - @leaders[:scores].each_with_index do |leader, i|
        %a.leader{:href => "http://www.twitter.com/#{leader[:user].twi_screen_name}", :target => "_blank"}
          %li 
            / {:class => ("border_bottom" if i < 3)}
            .content
              .place= i + 1
              = image_tag(leader[:user].twi_profile_img_url, :class => "rounded profile")
              %h5= leader[:user].twi_screen_name
              - if leader[:correct] == 1
                %p= "#{leader[:correct]} correct answer"
              - else
                %p= "#{leader[:correct]} correct answers"
              .clr
            .clr
    .clr