- cache("_question_modal-#{@asker.id}", :expires_in => 10.minutes) do
  #post_question_modal.modal.hide
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      - if  @asker
        %h3= "Post a Question on #{@asker.twi_screen_name}"
      - else
        %h3 Edit Question
    .modal-body
      .question_form
        %h3
          %i.icon-question-sign
          Question
        #question_container
          %textarea#question_input
        %hr

        %h3
          %i.icon-info-sign 
          Answers
        #answers
          #canswer
            .input-prepend.answer
              %span.add-on
                %i.icon-ok
              %input{:type=>"text", :name => 'canswer', :placeholder => 'Correct answer'}>   
          #ianswer1.ianswer
            .input-prepend.answer
              %span.add-on
                %i.icon-remove
              %input{:type=>"text", :name => 'ianswer1', :placeholder => 'Incorrect answer'}>
        %a#add_answer
          %i.icon-plus
          Add answer    
      .message.hide
        Your question was submitted, we'll get in touch when its posted! 
        %a.post_another Write another →
      .modal_conversation_history.hide
        .conversation
          .subsidiary.post
            %i.icon-share-alt{:style => "display: none;"}
            .content                      
              = image_tag(@asker.twi_profile_img_url, :class => "rounded") if @asker
              %h5= "User name"
              %p= "Conversation history"  
    .modal-footer
      / #approve_question.btn-group.hide
      /   %button.btn.reject Reject    
      /   %button.btn.btn-primary.accept Accept
      %a.btn.cancel{:href => "#", "data-dismiss" => "modal"} Cancel
      %a#submit_question.btn.btn-primary{:href => "#", "data-loading-text" => "Loading..."} Submit Question
- # this may be duplicate hidden field however it's required to keep the newer
- # views clean
= hidden_field_tag :user_name, current_user.twi_screen_name if current_user