#activity_stream.rounded.border-color
	.header
		%h4
			Activity	
	%ul.unstyled
		- @stream.each_with_index do |action, i|
			- conversation = action.conversation
			- if conversation
				- question = conversation.publication.question
				/%a.stream_item{:href => "/questions/#{question.id}/#{question.slug}"}
				%a.stream_item{:href => "/feeds/#{conversation.publication.asker_id}/#{conversation.publication.id}"}
					%li{:class => ("border_bottom" if i < (@stream.size - 1))}
						.content
							= image_tag(action.user.twi_profile_img_url, :class => "rounded profile")
							%p.time_ago= time_formatter(action.created_at)
							.text_content
								%h5
									%span{:style => "color: #333;"}= action.user.twi_screen_name
									%span{:style => "color: #666;"}= (action.interaction_type == 3 ? 'retweeted' : 'answered')
								%p= question.text