.actions
	.btn-group
		%a.btn.open= "<u>o</u>pen".html_safe
		%a.btn.add_question= "add <u>q</u>uestion".html_safe
		%a.btn= best_in_place post, :requires_action, :type => :checkbox, :classes => "btn-hide", :collection => ["s<u>h</u>ow".html_safe, "<u>h</u>ide".html_safe], :data => {:requires_action => post.requires_action}
		.btn.scripts
			%span.dropdown-toggle.feedback{"data-toggle" => "dropdown", :href => "#"}= "<u>s</u>cript".html_safe
			%ul.dropdown-menu{:role => "menu", "aria-labelledby" => "dLabel"}
				- UGC_SCRIPTS.each do |name, text|
					%li
						%a.script{script_name: name, script_text: text}= name.to_s.humanize	