#post_feed
	#feed_container.span10
		#wrapper.span9
			/ = render :partial => "home"
			#feed.row
				#right_column.span6
					%ul.nav.nav-tabs
						%li.active
							%a{href: '#tab1', 'data-toggle' => 'tab'} Questions
						%li
							%a{href: '#tab2', 'data-toggle' => 'tab'} Activity
					.tab-content
						#tab1.tab-pane.active
							#posts.rounded
								/ .header.border-color			
								#feed_content
									- if current_user
										= render :partial => "feed"
									- else
										- cache("_feed_unauthenticated", :expires_in => 20.minutes) do
											= render :partial => "feed"
								#posts_more.border-color
									%a{:href => "#"} Load more
						#tab2.tab-pane
							#posts.rounded
								#feed_content
									
				#left_column.span3.hidden-phone
					#left_column_container
						- if current_user
							= render :partial => "subscriptions"
						- else
							- cache("_directory", :expires_in => 30.hour) do
								= render :partial => "directory"
						= render :partial => "related"

%a.mixpanel_badge.visible-desktop{:href => "https://mixpanel.com/f/partner"}
	%img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}

- if current_user
	= render :partial => "retweet_modal"

#subsidiary_template.post{:style => "display: none;"}
	.content
		= image_tag(@asker.twi_profile_img_url, :class => "rounded asker")
		%h5= "User Name"
		%p= "Post content"

= hidden_field_tag :post_id, @post_id
= hidden_field_tag :feed_id, 0
/ = hidden_field_tag :feed_name, @asker.twi_screen_name
= hidden_field_tag :answer_id, @answer_id
= hidden_field_tag :user_name, current_user.twi_screen_name if current_user
= hidden_field_tag :user_img, current_user.twi_profile_img_url if current_user