#feed_container.span10
	#wrapper.span9
		#header.row.rounded.border-color
			#account_information.span6
				.container
					.inner_container
						.account_image
							= image_tag(@asker.twi_profile_img_url.sub(/_normal.png$/, "_reasonably_small.png"), :class => "rounded")
						.account_text
							%h2= @asker.twi_screen_name
							%h3= "@#{@asker.twi_screen_name}"
							%p= @asker.description
							- if current_user and (@asker.id == current_user.id or current_user.is_role?('admin') or current_user.twi_screen_name == 'StudyEgg')
								%a{:href => "/feeds/#{@asker.id}/manage"} Manage Account
							/ %a.scoreboard_link.visible-phone{:href => "#"}
							/ 	Go to the scoreboard.
			#account_stats.span3.hidden-phone
		#feed.row
			#right_column.span6
				#posts.rounded
					.header.border-color
						%h3
							Questions
					- @publications.each do |post|
						- conversation = @responses[post.id]
						- conversation ? responded = true : responded = false
						.conversation.border-color
							.post.parent{:class => ("answered" if responded), :post_id => post.id}
								%i.icon-share-alt{:style => ("display: none;" unless responded)}
								.content
									= image_tag(@asker.twi_profile_img_url, :class => "rounded")
									%h5= @asker.twi_screen_name
									%p= post.question.text
								- unless responded
									.answers.rounded.border{:style => "display: none;"}
										- answers = post.question.answers.shuffle
										- count = answers.size
										- answers.each_with_index do |answer, i|
											%h3{:class => ("bottom_border" if i < (count - 1)), :correct => answer["correct"].to_s, :answer_id => answer.id}= answer.text
											.answer_container.input{:type => 'text'}
												.shadow-top
												.tweet
													%span#account= "@#{@asker.twi_screen_name}"
													%span#answer= " #{answer.tweetable(@asker.twi_screen_name, post.url)}"
													%span#url= " #{post.url}"
													/ %span#additional{:contenteditable => true}
												.answer_controls
													%a.tweet_button.btn.btn-primary{:href => ("/auth/twitter?feed_id=#{@asker.id}&post_id=#{post.id}&answer_id=#{answer.id}" unless current_user)} Tweet!
												.shadow-bottom
							.subsidiaries{:style => "display: none;"}
								- if conversation
									- count = conversation.first.posts.size
									- conversation.first.posts.each_with_index do |response, i|
										.subsidiary.post{:class => ("answered" if i < (count - 1))}
											.content
												- if response["user_id"] == @asker.id
													= image_tag(@asker.twi_profile_img_url, :class => "rounded")
													%h5= @asker.twi_screen_name
													%p= "@#{current_user.twi_screen_name} #{response['text']} #{post.url}"
												- else
													= image_tag(current_user.twi_profile_img_url, :class => "rounded")
													%h5= current_user.twi_screen_name
													%p= "@#{@asker.twi_screen_name} #{response['text']} #{post.url}"
							.loading{:style => "display: none;"}
								Loading...
					#posts_more.border-color
						%a{:href => "#"} Load more
			#left_column.span3.hidden-phone
				#scoreboard.rounded.border-color
					.header
						%h4
							Leaderboard
					%ul.unstyled
						- @leaders[:scores].each_with_index do |leader, i|
							/ {:href => "/feeds/#{related.id}"}
							%a{:href => "http://www.twitter.com/#{leader[:user].twi_screen_name}", :target => "_blank"}
								%li 
									/ {:class => ("border_bottom" if i < 3)}
									.content
										.place= i + 1
										= image_tag(leader[:user].twi_profile_img_url, :class => "rounded")
										%h5= leader[:user].twi_screen_name
										- if leader[:correct] == 1
											%p= "#{leader[:correct]} correct answer"
										- else
											%p= "#{leader[:correct]} correct answers"
										.clr
									.clr
					.clr
				.clr
				- unless @related.blank?
					#related.rounded.border-color
						.header
							%h4
								Other Feeds
						%ul.unstyled
							- @related.each_with_index do |related, i|
								%a{:href => "/feeds/#{related.id}"}
									%li{:class => ("border_bottom" if i < 2)}
										.content
											= image_tag(related.twi_profile_img_url, :class => "rounded")
											%h5= related.twi_name
											%p= related.description


#post_template.conversation.border-color{:style => "display: none;"}
	.post.parent
		%i.icon-share-alt{:style => "display: none;"}
		.content
			= image_tag(@asker.twi_profile_img_url, :class => "rounded")
			%h5= @asker.twi_screen_name
			%p Post content
		.answers.rounded.border{:style => "display: none;"}
	.subsidiaries{:style => "display: none;"}
	.loading{:style => "display: none;"}
		Loading...

#answer_template.answer_container.input{:type => 'text', :style => "display: none;"}
	.shadow-top
	.tweet
		%span#account= "@#{@asker.twi_screen_name}"
		%span#answer= " Answer text"
		%span#url= " URL"
		/ %span#additional{:contenteditable => true}
	.answer_controls
		.tweet_button.btn.btn-primary Tweet!
	.shadow-bottom

#subsidiary_template.post{:style => "display: none;"}
	.content
		= image_tag(@asker.twi_profile_img_url, :class => "rounded")							
		%h5= "User Name"
		%p= "Post content"

= hidden_field_tag :feed_id, @asker.id
= hidden_field_tag :feed_name, @asker.twi_screen_name
= hidden_field_tag :post_id, @post_id
= hidden_field_tag :answer_id, @answer_id
= hidden_field_tag :user_name, current_user.twi_screen_name if current_user
= hidden_field_tag :user_img, current_user.twi_profile_img_url if current_user