#feed_container.span10
	#wrapper.span9
		#header.row.rounded
			#account_information.span6
				.container
					.inner_container
						.account_image
							= image_tag(@asker.twi_profile_img_url, :class => "rounded")
						.account_text
							%h2= @asker.name
							%h3= "@#{@asker.twi_name}"
							%p= @asker.description
							/ %a.scoreboard_link.visible-phone{:href => "#"}
							/ 	Go to the scoreboard.
			#account_stats.span3.hidden-phone
		#feed.row
			#left_column.span4.hidden-phone
				#scoreboard.rounded
					.header
						%h4
							Leaderboard
				#related.rounded
					.header
						%h4
							Related
			#right_column.span5
				#posts.rounded
					.header
						%h3
							Posts
					- @posts.each do |post|
						.conversation
							.post.parent{:post_id => post.id}
								%i.icon-share-alt{:style => "display: none;"}
								.content
									= image_tag(@asker.twi_profile_img_url, :class => "rounded")
									%h5= @asker.name
									%p= post.text
								.answers.rounded{:style => "display: none;"}
									- answers = post.question.answers.shuffle
									- count = answers.size
									- answers.each_with_index do |answer, i|
										%h3{:class => ("bottom_border" if i < (count - 1)), :correct => answer["correct"].to_s, :answer_id => answer.id}= answer.text
										.answer_container.input{:type => 'text'}
											.tweet
												%span#account= "@#{@asker.name}"
												%span#answer= " #{answer.tweetable(@asker.name)}"
												/ %span#additional{:contenteditable => true}
											.answer_controls
												%a.btn.btn-primary{:href => ("/auth/twitter?feed_id=#{@asker.id}&post_id=#{post.id}&answer_id=#{answer.id}" unless current_user)} Tweet!
							.subsidiaries
							.loading{:style => "display: none;"}
								Loading...
					#posts_more
						%a{:href => "#"} Load more



#post_template.conversation{:style => "display: none;"}
	.post.parent
		.content
			= image_tag(@asker.twi_profile_img_url, :class => "rounded")
			%h5= @asker.name
			%p Post content
		.answers.rounded{:style => "display: none;"}
	.loading{:style => "display: none;"}
		Loading...

#answer_template.answer_container.input{:type => 'text', :style => "display: none;"}
	.tweet
		%span#account= "@#{@asker.name}"
		%span#answer= " Answer text"
		/ %span#additional{:contenteditable => true}
	.answer_controls
		.btn.btn-primary Tweet!

#subsidiary_template.post{:style => "display: none;"}
	.content
		= image_tag(@asker.twi_profile_img_url, :class => "rounded")							
		%h5= "User Name"
		%p= "Post content"

= hidden_field_tag :feed_id, @asker.id
= hidden_field_tag :feed_name, @asker.name
= hidden_field_tag :post_id, @post_id
= hidden_field_tag :answer_id, @answer_id
= hidden_field_tag :user_name, current_user.twi_screen_name if current_user