- content_for :title, "#{@asker.twi_screen_name} - #{@asker.description}"
#post_feed
	#feed_container.span10
		#wrapper.span9
			= render :partial => "account_info"
			#feed.row
				#right_column.span6
					#posts.rounded
						.header.border-color
							%h3
								Questions
								.ugc
									- if (current_user and ((@correct and @correct > 9) or current_user.is_role? "author"))
										%a.post_question{:href => "/"} Post a Question
										.div.is_author{:style => 'display:none;'}
									- else
										/ %p.post_disabled_explanation (10+ correct required!)
										%a.post_question.disabled{:href => "/", :rel => "tooltip", :title => "10+ correct answers required!", 'data-placement' => 'bottom'} Post a Question
						#feed_content
							= render :partial => "feed"
						#posts_more.border-color
							%a{:href => "#"} Load more
				#left_column.span3.hidden-phone
					= render :partial => "stream" if @stream.present?
					.clr
					= render :partial => "leaderboard"
					.clr
					= render :partial => "related"

= render :partial => "question_modal"

#post_template.conversation.border-color{:style => "display: none;"}
	.post.parent
		#time
			%p.time_ago= "time"			
		%i.icon-share-alt{:style => "display: none;"}
		.content
			= image_tag(@asker.twi_profile_img_url, :class => "rounded asker")
			%h5= @asker.twi_screen_name
			%p Post content
		.answers.rounded.border{:style => "display: none;"}
	.subsidiaries{:style => "display: none;"}
	.interactions
		/ = image_tag("", :class => "rounded interaction", :rel => "tooltip", :title => "answered", "data-placement" => "bottom")				
	.loading{:style => "display: none;"}
		Loading...

#answer_template.answer_container.input{:type => 'text', :style => "display: none;"}
	.shadow-top
	.tweet
		%span#account= "@#{@asker.twi_screen_name}"
		%span#answer= " Answer text"
		/ %span#url= " URL"
		/ %span#additional{:contenteditable => true}
	.answer_controls
		.tweet_button.btn.btn-primary Tweet!
	.shadow-bottom

#subsidiary_template.post{:style => "display: none;"}
	.content
		= image_tag(@asker.twi_profile_img_url, :class => "rounded asker")					
		%h5= "User Name"
		%p= "Post content"


= hidden_field_tag :post_id, @post_id
= hidden_field_tag :feed_id, @asker.id
= hidden_field_tag :feed_name, @asker.twi_screen_name
= hidden_field_tag :answer_id, @answer_id
= hidden_field_tag :user_name, current_user.twi_screen_name if current_user
= hidden_field_tag :user_img, current_user.twi_profile_img_url if current_user
= hidden_field_tag :correct, @correct