.row
  %ul.nav.nav-tabs.nav-stacked.span3
    %li 
      %a{:href => "#authors-ugc"} 
        Questions / day
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{href: '#authors-average_time_to_publish'}
        /{:href => "#users-socactions"} 
        Average time to publish
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{href: '#authors-percent_published'}
        /{:href => "#users-socactions"} 
        Percent published
        %span.loading.hide= image_tag "ajax-loader.gif"               
    %li 
      %a
        /{:href => "#users-socactions"} 
        Questions / day / handle (soon)
        %span.loading.hide= image_tag "ajax-loader.gif"        

  .graphs
    .ugc.panel
      #data_row.row
        #graph.graph
      = hidden_field_tag :data, @data.to_json if @data
    .average_time_to_publish.panel
      #data_row.row
        #graph.graph
      = hidden_field_tag :data, @data.to_json if @data 
    .percent_published.panel
      #data_row.row
        #graph.graph
      = hidden_field_tag :data, @data.to_json if @data