.core

	%h2.handle_name All Handles 

	.data_row.row
		.paulgraham_users.panel.left.rounded.span6
			.paulgraham_stats.stats
				.header
					%h3 New/Existing 
				.new
					.container
						%p.number= sprintf "%.1f%", @core_display_data[0][:paulgraham][:today] * 100 if @core_display_data[0][:paulgraham]
						%p.period last 24 hours
				.total
					.container
						%p.number= sprintf "%.1f%", @core_display_data[0][:paulgraham][:total] * 100 if @core_display_data[0][:paulgraham]
						%p.period 7 day avg
			.paulgraham_graph.graph

		.dau_mau.panel.right.rounded.span6
			.dau_mau_stats.stats
				.header
					%h3 DAU/MAU 
				.new
					.container
						%p.number= sprintf "%.1f%", @core_display_data[0][:dau_mau][:today] * 100 if @core_display_data[0][:dau_mau]
						%p.period last 24 hours
				.total
					.container
						%p.number= sprintf "%.1f%", @core_display_data[0][:dau_mau][:total] * 100 if @core_display_data[0][:dau_mau]
						%p.period 7 day avg
			.dau_mau_graph.graph

	.data_row.row
		.econ_engine.panel.rounded.span6
			.econ_engine_stats.stats
				.header
					%h3 Soc. Actions
				.new
					.container
						%p.number= @core_display_data[0][:econ_engine][:today] if @core_display_data[0][:econ_engine]
						%p.period today
				.total
					.container
						%p.number= @core_display_data[0][:econ_engine][:answerers] if @core_display_data[0][:econ_engine]
						%p.period users involved
			.econ_engine_graph.graph

		.daus.panel.right.rounded.span6
			.daus_stats.stats
				.header
					%h3 DAUs
				.new
					.container
						%p.number= @core_display_data[0][:daus][:today] if @core_display_data[0][:daus]
						%p.period last 24 hours
				.total
					.container
						%p.number= @core_display_data[0][:daus][:total] if @core_display_data[0][:daus]
						%p.period last 30 days			
			.daus_graph.graph