.handles
  %h2.handle_name 
    Total Social Interactions this week
    %span.loading.hide= image_tag "ajax-loader.gif"

  #data_row.row
    #handle_activity.panel.rounded.span10
      #handle_activity_graph.graph
  = hidden_field_tag :handle_activity_data, @handle_activity.to_json

.cohort
  %h2.handle_name 
    Cohort Analysis
    %span.loading.hide= image_tag "ajax-loader.gif"

  #data_row.row
    #cohort.panel.rounded.span10
      #cohort_graph.graph
  = hidden_field_tag :cohort_activity, @cohort.to_json

 
.questions
  %h2.handle_name 
    Questions answered per user
    %span.loading.hide= image_tag "ajax-loader.gif"

  #data_row.row
    #questions.panel.rounded.span10
      #questions_graph.graph
  = hidden_field_tag :question_data, @question_data.to_json