- party = "moderators"
- graphs = [{name: 'user_moderated_posts', display_name: 'Moderated posts by type'}, {name: 'moderations_count', display_name: 'Moderations per day'}, {name: 'moderators_count', display_name: 'Moderators per day'}, {name: 'timely_response_by_handle', display_name: 'Timely response by handle'}, {name: 'content_audit', display_name: 'Content audit progress'}, {name: 'quality_response', display_name: 'Quality Reply'}]

.row
  %ul.nav.nav-tabs.nav-stacked.span3
    - graphs.each do |graph_data|
      %li
        %a{href: "##{party}-#{graph_data[:name]}"}
          #{graph_data[:display_name]}
          %span.loading.hide= image_tag "ajax-loader.gif"
  .graphs
    - graphs.each do |graph_data|
      .panel{class: graph_data[:name]}
        #data_row.row
          #graph.graph
        = hidden_field_tag :data, @data.to_json if @data