.row
  %ul.nav.nav-tabs.nav-stacked.span3
    %li
      %a.heading
        General
    %li 
      %a{:href => "#users-answer_source"} 
        Answer source by day
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-questions_answered"} 
        Median answers / user / day
        %span.loading.hide= image_tag "ajax-loader.gif"        

    %li
      %a.heading
        Lifecycle
    %li 
      %a{:href => "#users-learner_levels"} 
        Learner level breakdown
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-lifecycle"} 
        Lifecycle breakdown by day
        %span.loading.hide= image_tag "ajax-loader.gif"

    %li
      %a.heading
        Retention
    %li 
      %a{:href => "#users-cohort"} 
        Activity By Cohort
        %span.loading.hide= image_tag "ajax-loader.gif"

    %li
      %a.heading
        Reengagement
    %li
      %a{:href => "#users-age_v_reengagement_v_response_rate"} 
        Age v Reengagements v Response %
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-days_since_active_when_reengaged_v_response_rate"} 
        Days since active when reengaged 
        %br
        v Repsone %
        %span.loading.hide= image_tag "ajax-loader.gif"

  .graphs
    .cohort
      #data_row.row
        #cohort.panel
          #cohort_graph.graph
      = hidden_field_tag :cohort_data, @cohort.to_json if @cohort

    .questions_answered
      #data_row.row
        #questions.panel
          #questions_graph.graph
      = hidden_field_tag :questions_answered_data, @questions_answered_data.to_json if @questions_answered_data

    .learner_levels{:style => "height: 600px;"}
      #data_row.row
        #learner_levels.panel
          #learner_levels_graph.graph
      = hidden_field_tag :learner_levels_data, @learner_levels_data.to_json if @learner_levels_data

    .answer_source
      #data_row.row
        #answer_source.panel
          #answer_source_graph.graph
      = hidden_field_tag :answer_source_data, @answer_source_data.to_json if @answer_source_data

    .lifecycle
      #data_row.row
        #lifecycle.panel
          #lifecycle_graph.graph
      = hidden_field_tag :lifecycle_data, @lifecycle_data.to_json if @lifecycle_data

    .age_v_reengagement_v_response_rate
      #data_row.row
        #age_v_reengagement_v_response_rate.panel
          #age_v_reengagement_v_response_rate_graph.graph
      = hidden_field_tag :age_v_reengagement_v_response_rate_data, @age_v_reengagement_v_response_rate_data.to_json if @age_v_reengagement_v_response_rate_data

    .days_since_active_when_reengaged_v_response_rate
      #data_row.row
        #days_since_active_when_reengaged_v_response_rate.panel
          #days_since_active_when_reengaged_v_response_rate_graph.graph
      = hidden_field_tag :days_since_active_when_reengaged_v_response_rate_data, @days_since_active_when_reengaged_v_response_rate_data.to_json if @days_since_active_when_reengaged_v_response_rate_data      