.row
  %ul.nav.nav-tabs.nav-stacked.span3
    %li
      %a.heading
        General  
    %li.users_per_day
      %a{:href => "#users-users_per_day"} 
        New users by day
        %span.loading.hide= image_tag "ajax-loader.gif"        
    %li
      %a.heading
        Platforms
    %li 
      %a{:href => "#users-answer_source"} 
        Answer source by day
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li
      %a.heading
        Virality
    %li 
      %a{:href => "#users-questions_answered"} 
        Median answers / user / day
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-viral_actions_v_new_users"} 
        Viral actions v New users
        %span.loading.hide= image_tag "ajax-loader.gif"

    %li
      %a.heading
        Lifecycle Progression
    %li 
      %a{:href => "#users-learner_levels"} 
        Learner level breakdown
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-lifecycle"} 
        Lifecycle breakdown by day
        %span.loading.hide= image_tag "ajax-loader.gif"

    %li
      %a.heading
        Retention
    %li 
      %a{:href => "#users-cohort"} 
        Activity By Cohort
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li
      %a{:href => "#users-age_v_days_since_active"} 
        Age v Days since active
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li
      %a{:href => "#users-avg_lifecycle"} 
        Average Lifecycle
        %span.loading.hide= image_tag "ajax-loader.gif"

    %li
      %a.heading
        Reengagement
    %li
      %a{:href => "#users-age_v_reengagement_v_response_rate"} 
        Age v Reengagements v Response %
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-days_since_active_when_reengaged_v_response_rate"} 
        Days since active when reengaged 
        %br
        v Response %
        %span.loading.hide= image_tag "ajax-loader.gif"
    %li 
      %a{:href => "#users-days_since_active_v_number_of_reengagement_attempts"} 
        Days since active 
        %br
        v Reengagements since inactive
        %span.loading.hide= image_tag "ajax-loader.gif"

  .graphs
    #data_row.row
      .panel
        #graph.graph
    = hidden_field_tag :data, @data.to_json if @data