= hidden_field_tag :display_data, @display_data.to_json
= hidden_field_tag :graph_data, @graph_data.to_json
= hidden_field_tag :askers, @askers.group_by(&:id).to_json

= hidden_field_tag :paulgraham, @paulgraham.to_json
= hidden_field_tag :dau_mau, @dau_mau.to_json
= hidden_field_tag :econ_engine, @econ_engine.to_json

:css
	.navbar-fixed-top .container {
		width: 1152px !important;
	}
	body {background:#fff;}
	.navbar-inner {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1) !important;}
	/.nav-tabs li.active a {background-color:#fafafa !important;}
	.nav-tabs {margin-top:30px;}
	.tab-content {min-height: 550px; margin-left: 30px !important;}


%ul#tabs.nav.nav-tabs
	%li.active
		%a{:href => "#core"} Core
	%li
		%a{:href => "#detailed"} Detailed
.row
	.tab-content
		#core.dashboard.span12.tab-pane.active
			#data_row.row
				#paulgraham_users.panel.left.rounded.span6
					#paulgraham_stats.stats
						.header
							%h3 New/Existing 
						.new
							.container
								%p.number= sprintf "%.1f%", @display_data[0][:paulgraham][:today] * 100
								%p.period today
						.total
							.container
								%p.number= sprintf "%.1f%", @display_data[0][:paulgraham][:total] * 100
								%p.period 7 day avg
					#paulgraham_graph.graph

				#dau_mau.panel.right.rounded.span6
					#dau_mau_stats.stats
						.header
							%h3 DAU/MAU 
						.new
							.container
								%p.number= sprintf "%.1f%", @display_data[0][:dau_mau][:today] * 100
								%p.period today
						.total
							.container
								%p.number= sprintf "%.1f%", @display_data[0][:dau_mau][:total] * 100
								%p.period 30 day avg
					#dau_mau_graph.graph

			#data_row.row
				#econ_engine.panel.rounded.span6
					#econ_engine_stats.stats
						.header
							%h3 Soc. Actions
						.new
							.container
								%p.number= @display_data[0][:econ_engine][:today]
								%p.period today
						.total
							.container
								%p.number= @display_data[0][:econ_engine][:answerers]
								%p.period users involved
					#econ_engine_graph.graph


				#active_users.panel.right.rounded.span6
					#active_users_stats.stats
						.header
							%h3 Active Users
						.new
							.container
								%p.number
								%p.period today
						.total
							.container
								%p.number
								%p.period last 30 days			
					#active_user_ids_graph.graph

		#detailed.dashboard.tab-pane
			.row
				.well.well-small
					.select_option
						%input{:type => "checkbox", :id => "select_all_time", :value => 0, :checked => "checked"}
						%label{:for => "select_all_time"} All time
					- @askers.each do |asker|
						.select_option
							%input{:type => "checkbox", :id => "select_#{asker.twi_screen_name}", :value => asker.id}
							%label{:for => "select_#{asker.twi_screen_name}"}= asker.twi_screen_name

			#data_row.row
				#active_users_tranched.panel.right.rounded.span6
					#active_users_tranched_stats.stats
						.header
							%h3 Active Users
						.new
							.container
								%p.number
								%p.period today
						.total
							.container
								%p.number
								%p.period last 30 days			
					#active_users_tranched_graph.graph

				#questions_answered.panel.rounded.span6
					#questions_answered_stats.stats
						.header
							%h3 Answers
						.new
							.container
								%p.number
								%p.period today
						.total
							.container
								%p.number
								%p.period answerers				
					#questions_answered_graph.graph

			#data_row.row
				#retweets.panel.right.rounded.span6
					#retweets_stats.stats
						.header
							%h3 Retweets
						.new
							.container
								%p.number
								%p.period today
						.total
							.container
								%p.number
								%p.period all-time
					#retweets_graph.graph

				#mentions.panel.rounded.span6
					#mentions_stats.stats
						.header
							%h3 Mentions
						.new
							.container
								%p.number
								%p.period today
						.total
							.container
								%p.number
								%p.period all-time				
					#mentions_graph.graph
			
			#data_row.row	
				#click_throughs.panel.right.rounded.span6
					#click_throughs_stats.stats
						.header
							%h3 CTs
						.new
							.container
								%p.number 
								%p.period today
						.total
							.container
								%p.number 
								%p.period all-time				
					#click_throughs_graph.graph		

				#total_followers.panel.rounded.span6
					#followers_stats.stats
						.header
							%h3 Followers
						.new
							.container
								%p.number
								%p.period new
						.total
							.container
								%p.number{:style => "font-size: 32px;"}
								%p.period all-time				
					#total_followers_graph.graph