:css
  @media (min-width: 1200px) {
    .navbar-fixed-top .container {
      width: 1152px !important;
    }
  }
  @media (max-width: 1199px) and (min-width:980px) {
    .navbar-fixed-top .container {
      width: 861px !important;
    }
  }
  @media (max-width: 979px) and (min-width:768px) {
    .navbar-fixed-top .container {
      width: 741px !important;
    }
  }

  body {background:#fff; padding-bottom:0px;}
  .navbar-inner {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1) !important;}
  .nav-tabs {margin-top:10px;}
  .tab-content {min-height: 618px; margin-left: 30px !important;}

.dashboards
  %ul#tabs.nav.nav-tabs
    %li.core-metrics
      %a{:href => "#core"} Core 
    %li
      %a{:href => "#users"} Users   
    %li
      %a{:href => "#askers"} Askers
    %li
      %a{:href => "#authors"} Authors
    %li
      %a{:href => "#moderators"} Moderators

    %span.domains
      %span.loading.hide= image_tag "ajax-loader.gif"
      - domains = {30 => '1 month', 60 => '2 months', 90 => '3 months', 180 => '6 months', 360 => '1 year'}
      - domains.each do |k,v|
        %a{domain: k}= v
        = "|" unless domains.keys.last == k

  .row
    .tab-content
      #core.dashboard.span12.tab-pane
        = render :partial => "core"
      #users.dashboard.span12.tab-pane.reloadable
        = render :partial => "users"
      #askers.dashboard.span12.tab-pane.reloadable
        = render :partial => "askers"
      #authors.dashboard.span12.tab-pane.reloadable
        = render :partial => "authors"
      #moderators.dashboard.span12.tab-pane.reloadable
        = render :partial => "moderators"

