:css
  @media (min-width: 1200px) {
    .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 874px;}
    #right_column {width: 860px !important;}
  }
  #wrapper {margin-left: -15px;}
  .best_in_place input {height: 18px;}

#feed_container.span10
  #wrapper.span9
    #header.row.rounded.border-color
      #account_information.span6
        .container
          .inner_container
            .account_image
              = image_tag(@asker.twi_profile_img_url.sub("_normal.", "_reasonably_small."), :class => "rounded")
            .account_text
              %h2= @asker.twi_screen_name
              %h3= "@#{@asker.twi_screen_name} (#{@asker.twi_user_id})"
              %p
                %i.icon-edit
                = best_in_place @asker, :description, :type => :input, :nil => "No description", :path => ""
              - if current_user and (@asker.id == current_user.id or current_user.is_role?('admin') or current_user.twi_screen_name == 'StudyEgg')

                %br
                %p{:class => "text-decoration:italics;"}
                  This account will post
                  %i.icon-edit
                  = best_in_place @asker, :posts_per_day, :type => :input, :nil => "0", :path => ""
                  times per day.
                  
                /%br
                = link_to 'Update Twitter', "/auth/twitter?update_asker_id=#{@asker.id}"
                &nbsp;|&nbsp;
                %a{:href => "/feeds/#{@asker.id}/manage"} Moderate Account
                &nbsp;|&nbsp;
                %a{:style => 'cursor:pointer;'}= best_in_place @asker, :published, :type => :checkbox, :collection => ["Publish", "Unpublish"]
                &nbsp;|&nbsp;
                = link_to 'Destroy', asker_path(@asker), confirm: 'Are you sure?', method: :delete

    - if @linked
      #feed.row
        #right_column.span9
          #posts.rounded
            .header.border-color
              %h3
                Oauth

              %dl
              - if @asker.twi_user_id

                %dt Twitter oauth token
                %dd= @asker.twi_oauth_token

                %dt Twitter oauth secret
                %dd= @asker.twi_oauth_secret

  =# link_to 'Add/Update Facebook', '/auth/facebook'
  =# link_to 'Add/Update Tumblr', '/auth/tumblr'

=# render :partial => 'form'
=# link_to t('.destroy', :default => t("helpers.links.destroy")), asker_path(@asker), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'                                                                      