:css
  .main-view {background:white;}
  @media (min-width: 1200px) {.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 100%;}}

.askers-index.span12
  .page-header
    %h1= t '.title', :default => 'Askers'

  .form-actions
    %a.btn.btn-primary{:href => user_omniauth_authorize_path(:twitter, :update_asker_id => 0, :use_authorize => true)} New

  #askers_table
    %table.table
      %tr
        %th
        %th
        %th Handle
        %th UGC posts
        %th Unapproved Qs
        %th Questions
        %th Actions
        %th Warnings

      %tr.asker-row
        %td
        %td= image_tag(User.find(8765).twi_profile_img_url)
        %td= link_to 'All handles', "/"
        %td
          %a{:href => "/feeds/manage?filter=ugc"}
            .td_container= @ugc_post_counts.values.sum
        %td
          %a{:href => "/questions/asker#not_tweeting"}
            .td_container= @unmoderated_counts.values.sum
        %td= @question_counts.values.sum
        %td
        %td

      - @askers.each_with_index do |asker, i|
        %tr.asker-row
          %td= i + 1
          %td= image_tag(asker.twi_profile_img_url)
          %td= link_to asker.twi_name, "/feeds/#{asker.id}"
          %td
            %a{:href => "/feeds/#{asker.id}/manage?filter=ugc"}
              .td_container= @ugc_post_counts[asker.id]    
          %td
            %a{:href => "/questions/asker/#{asker.id}#not_tweeting"}
              .td_container= @unmoderated_counts[asker.id]
          %td= link_to @question_counts[asker.id], "questions/asker/#{asker.id}"
          %td
            %a{:href => "/askers/#{asker.id}/edit"} Edit
            &nbsp;|&nbsp;
            %a{:style => 'cursor:pointer;'}= best_in_place asker, :published, :type => :checkbox, :collection => ["Publish", "Unpublish"]
          %td 
            .td_container
              - if asker.last_followback_failure and asker.last_followback_failure > 1.day.ago
                .label.label-warning
                  Followback: 
                  %abbr.timeago{title: asker.last_followback_failure.iso8601}
                  ago