:css
  .main-view {background:white !important;}
  .navbar-fixed-top .container {width: 100%;}

.askers-index
  .page-header
    %h1= t '.title', :default => 'Askers'

  .form-actions
    %a.btn.btn-primary{:href => user_omniauth_authorize_path(:twitter, :update_asker_id => 0, :use_authorize => true)} New

  #askers_table
    %table.table
      %tr
        %th
        %th
        %th Handle
        %th Subject
        %th Actions
        %th Warnings

      - @askers.each_with_index do |asker, i|
        %tr.asker-row
          %td= i + 1
          %td= image_tag(asker.twi_profile_img_url)
          %td= link_to asker.twi_name, "/feeds/#{asker.id}"
          %td= best_in_place asker, :subject
          %td
            %a{:href => "/askers/#{asker.id}/edit"} Edit
            &nbsp;|&nbsp;
            %a{:style => 'cursor:pointer;'}= best_in_place asker, :published, :type => :checkbox, :collection => ["Publish", "Unpublish"]
          %td 
            .td_container
              - if asker.last_followback_failure and asker.last_followback_failure > 1.day.ago
                .label.label-warning
                  Followback: 
                  %abbr.timeago{title: asker.last_followback_failure.iso8601}
                  ago