%script{:type => 'text/javascript'}= "var asker_id =#{@asker.id};" 
#posts.rounded.span8.offset2
  -if @posts.empty?
    %h2 No Recent Engagements
  -@posts.each do |p|
    .post.active
      .content
        .row
          .span8
            - if p.parent
              %h4= "Q. #{p.parent.text}"
              %h4= "A. #{p.parent.publication.question.answers.correct.text if p.parent.publication and p.parent.publication.question}"
            - else
              %a{:href=>'#'} Manually Link To Post
      %hr{:style => 'margin: 3px;'}
      .content
        .row
          .span4
            = image_tag(p.user.twi_profile_img_url, :class => "rounded")
            %h5= "@#{p.user.twi_screen_name}" if p.user
            %h5= "#{p.created_at}"
            %h4= raw p.text
          .span3
            .btn-group
              %button.btn.btn-warning.retweet{'p_id' => p.id} This is a RT
              %button.btn.btn-warning.skip{'p_id' => p.id} Skip
            %br
            .btn-group
              //%button.btn.btn-success.first{'p_id' => p.id} First
              %button.btn.btn-success.correct{'p_id' => p.id} Correct
              %button.btn.btn-danger.incorrect{'p_id' => p.id} Incorrect
              //%button.btn.btn-danger.close{'e_id' => e.id} Close
        .row{:style=> 'display:none;'}
          .text_container
            %textarea