#tutor
	#feed_container.span10
		#wrapper.span9
			#feed.row				
				.call-to-action
					%h1 
						Prep for your 
						%u= @exam.subject
						quiz
				.payment-container
					/ .free-trial-header{:style => "font-size: 13px; height: 17px;  margin: 0px 0px 0px 1px; padding: 0px 0px 3px;"}
					/ 	.radio-button{:style => "float: left; font-size: 10px; height: 17px;  margin: 0px; padding: 0px; text-align: center; text-decoration: initial; width: 50px;"}  
					/ 	.discount{:style => "float: left; font-size: 10px; height: 17px;  margin: 0px; padding: 0px; text-align: left; text-decoration: initial; width: 175px;"} Subject
					/ 	.cost{:style => "float: left; font-size: 10px; height: 17px;  margin: 0px; padding: 0px; text-align: center; text-decoration: initial; width: 80px;"} Cost
					/ 	.time-included{:style => "float: left; font-size: 10px; height: 17px;  margin: 0px; padding: 0px; text-align: center; text-decoration: initial; width: 150px;"} Content pack
					/ 	.cost-per-minute{:style => "float: left; font-size: 10px; height: 17px;  margin: 0px; padding: 0px; text-align: center; text-decoration: initial; width: 100px;"} Quiz/Test Date
					.pack-options
						.pack-option.selected
							/ %span.checkbox
							/ 	%input{:checked => "", :type => "checkbox"}
							%div{style: 'height:1px'}
								%span.content 
									%label Subject
								%span.cost 
									%label Price
								%span.details 
									%label Questions
								%span.date 
									%label Date

							%span.content= @exam.subject
							%span.cost= number_to_currency(@exam.price, :unit => "$")
							%span.details= @exam.question_count
							%span.date= @exam.date.strftime("%B #{ActiveSupport::Inflector.ordinalize(@exam.date.day)}")

						.center.subsection

							%h3.subheadline
								This covers daily quizzing
								%span.highlight over Twitter
								of your handle 
								= "@<span class='highlight'>#{@exam.user.twi_screen_name}</span>".html_safe
								on your upcoming
								%span.highlight= @exam.subject
								quiz on 
								%span.highlight= @exam.date.strftime("%B #{ActiveSupport::Inflector.ordinalize(@exam.date.day)}")

						%form.row.payment-form-container
							.payment-form
								.guarantee
									%img{src: 'http://openclipart.org/image/250px/svg_to_png/167577/satisfaction-guaranteed-Kliponius-Font-as-paths.png'}

								.form-row
									.payment-errors.alert.alert-error Error #406 - Please try again later
								.form-row
									%input#id_card_number.card_number{:autocomplete => "off", :placeholder => "Full name"}
								.form-row
									%input#id_card_number.card_number{:autocomplete => "off", :placeholder => "Credit Card Number"}
								.form-row
									%img#cc{:src => "https://instaedu.com/publish/static/img/cc.png", :style => "height: 18px; width: 110px;"}/
								.form-row
									%select#id_expiration_date_month.expiration_date_month{:style => "font-size: 15px; width: 70px; margin: 9px 0px 10px; height: 33px;"}
										%option{:value => "01"} 01
										%option{:value => "02"} 02
										%option{:value => "03"} 03
										%option{:value => "04"} 04
										%option{:value => "05"} 05
										%option{:value => "06"} 06
										%option{:value => "07"} 07
										%option{:value => "08"} 08
										%option{:value => "09"} 09
										%option{:value => "10"} 10
										%option{:value => "11"} 11
										%option{:value => "12"} 12
									%select#id_expiration_date_year.expiration_date_year{:style => "font-size: 15px; width: 70px; margin: 9px 0px 10px; height: 33px;"}
										%option{:value => "2013"} 2013
										%option{:value => "2014"} 2014
										%option{:value => "2015"} 2015
										%option{:value => "2016"} 2016
										%option{:value => "2017"} 2017
										%option{:value => "2018"} 2018
										%option{:value => "2019"} 2019
										%option{:value => "2020"} 2020
										%option{:value => "2021"} 2021
									%input#id_cvv.card_cvv{:autocomplete => "off", :placeholder => "CVV"}
								.form-row
									.btn-container
										%button.pay.btn.btn-primary.btn-large
											GET STARTED
				
				/ .span4.payments-right-nav{:style => "float: right;"}
				/ 	/ Seal here
				/ 	.right-nav-box.satisfaction-guaranteed{:style => "border: 1px solid rgb(204, 204, 204); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; font-size: 13px; margin: 22px 0px 20px; padding: 15px; text-align: center; text-decoration: initial; width: 196px; background-color: rgb(247, 247, 247);"}
				/ 		%img{:src => "https://instaedu.com/publish/static/img/satisfaction-guaranteed.png", :style => "height: 104px; margin: 0px 0px 15px; text-align: center; width: 110px;"}/
				/ 		%p{:style => "text-align: center;"} If you don't feel more prepared for your quiz, we'll refund your money in full.

		.clr
	.clr
%input#user_id{type: 'hidden', value: @exam.user.id}