- if @asker
  - content_for :title, "#{@lesson.name} Quiz | #{@asker.subject}"

= render partial: "feeds/account_info"

.columns.quiz
  = render partial: "feeds/feed"

  .right-column
    = render partial: "feeds/stream"

    - if current_user
      = render partial: "feeds/my_badges"
    - else
      = render partial: "feeds/my_badges_unauth"

    = render partial: "topics/lessons"


- content_for(:modals) do
  = render :partial => "feeds/question_modal"