- asker = badge.asker

%meta{:content => "photo", :name => "twitter:card"}
%meta{:content => "@Wisr", :name => "twitter:site"}
%meta{:content => "@#{asker.twi_screen_name}", :name => "twitter:creator"}
%meta{:content => "http://wisr.com/#{@user.twi_screen_name}/badges/story/#{badge.title.parameterize}", :name => "twitter:url"}
%meta{:content => "#{badge.title} Badge", :name => "twitter:title"}
%meta{:content => "#{badge.description}", :name => "twitter:description"}
%meta{:content => "http://wisr.com#{badge.img_path}", :name => "twitter:image"}
%meta{:content => "181", :name => "twitter:image:width"}
%meta{:content => "181", :name => "twitter:image:height"}

.story.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "modal[#{badge.id}]", :class => "#{'in' if badge.id == @badge_for_modal_id}", :style => "#{'display:block;' if badge.id == @badge_for_modal_id}"}
  .modal-header
    / .converation
    /   = image_tag(@user.twi_profile_img_url, :class => "rounded")
    /   %h2
    /     = 

    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    .conversation.border-color
      .post.parent
        .content
          = image_tag(asker.twi_profile_img_url, :class => "rounded")
          %h5
            = asker.twi_screen_name

          %p.question_text 
            With your hard work, you earned the 
            %strong= badge.title
            badge!
          / .post_actions
          /   %a.expand Retweet

  .modal-body
    %p.badge-image-wrapper
      - if @user_badges.include? badge
        %img.badge-image{:src => badge.img_path}
      - else
        %img.badge-image.faded{:src => badge.img_path_nocolor}

  .modal-footer
    %p= badge.description
