%table.table.table-bordered
  %tr
    %th Alternative Name
    %th Participants
    / %th Non-finished
    %th Completed
    %th Conversion Rate
    %th Confidence
    %th Finish
  - total_participants = total_completed = 0
  - experiment.alternatives.each do |alternative|
    %tr
      %td
        = alternative.name
        - if alternative.control?
          %em control
      %td= alternative.participant_count
      / %td= alternative.participant_count - alternative.completed_count
      %td= alternative.completed_count
      %td
        = number_to_percentage(alternative.conversion_rate)
        \%
        - if experiment.control.conversion_rate > 0 && !alternative.control?
          - if alternative.conversion_rate > experiment.control.conversion_rate
            %span.better
              +#{number_to_percentage((alternative.conversion_rate/experiment.control.conversion_rate)-1)}%
          - elsif alternative.conversion_rate < experiment.control.conversion_rate
            %span.worse
              = number_to_percentage((alternative.conversion_rate/experiment.control.conversion_rate)-1)
              \%
      %td
        %span{:title => "z-score: #{round(alternative.z_score, 3)}"}= confidence_level(alternative.z_score)
      %td
        - if experiment.winner
          - if experiment.winner.name == alternative.name
            Winner
          - else
            Loser
        - else
          %form{:action => "/experiments/conclude", :method => "post", :onclick => "return window.experiment.confirmWinner()"}
            %input{:name => "alternative", :type => "hidden", :value => alternative.name}
            %input{:name => "experiment", :type => "hidden", :value => experiment.name}
            %a
              %input.green{:type => "submit", :value => "Use this"}
    - total_participants += alternative.participant_count
    - total_completed += alternative.completed_count
  %tr.totals
    %td Totals
    %td= total_participants
    %td= total_participants - total_completed
    %td= total_completed
    %td{colspan: 2}