/ - content_for :title, "#{@asker.twi_screen_name} - #{@question.text}"
- content_for :meta do
  %meta{name: "twitter:card", content: "summary"}
  %meta{name: "twitter:title", content: "#{@issuance.badge.try :title}"}
  %meta{name: "twitter:description", content: "#{@issuance.badge.try :description}"}
  %meta{name: "twitter:site", content: "@wisr"}
  %meta{name: "twitter:creator", content: "@#{@issuance.asker.try :twi_screen_name}"}
  %meta{name: "twitter:image", content: "http://#{request.env['HTTP_HOST']}/assets/#{@issuance.badge.try :filename}"}
  %meta{name: "twitter:image:width",  content: "200"}
  %meta{name: "twitter:image:height",  content: "200"}


.outer-wrapper.span10{:style => "float: none !important;"}
  #wrapper{:style => "background: none !important;"}
    .issuance-container.span6
      .issuance{issuance_id: params[:id]}
        .issuance-inner
          .content.hidden
            %image.rounded{'data-bind' => 'attr: {src: user_twi_profile_img_url}'}
            %h5
              %span{'data-bind' => 'text: user_twi_screen_name'}
              earned the
              %span.badge-title{'data-bind' => 'text: title'}
              badge!
            .created-at{'data-bind' => 'text: created_at'}

          .badge-image
            %img{'data-bind' => 'attr: {src: source}'}
          %p.description{'data-bind' => 'text: description'}

= hidden_field :issuance, :json, value: @json