%html
	%head
	%body
		- if @grade
			= @grade
			%br
			%br

		%strong= @text
		
		%br
		- if @include_answers
			- abc = ('a'..'z').to_a
			- @question.answers.shuffle.each_with_index do |a, i|
				.answer #{abc[i]}) #{a.text}

		- if @course
			
			%br
			%strong #{@course.name}
			- @lessons.each do |lesson|
				%br
				\- #{lesson.name} (#{number_to_percentage(lesson.percentage_completed_by_user(@recipient) * 100, :precision => 0)})

		%br
		%br
		Reply to this email with your answer or answer at #{@url}

		- if @question.resource_url

			%br
			Need help? #{@question.resource_url.gsub(/\/embed\/([^\?]*)\?start=([0-9]+)&end=[0-9]+/,'/watch?v=\\1&t=\\2')}

			%br
			Watch the full video at #{@question.resource_url.gsub(/\/embed\/([^\?]*)\?start=[0-9]+&end=[0-9]+/,'/watch?v=\\1')}