.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} Wisr
      .in.collapse
        %ul.nav{:style => 'float:right;'}     
          - if current_user
            - if current_user.is_role? 'admin'
              %li
                .dropdown.nav-link
                  %a.nav-link{:href => "/feeds/manage", 'data-target' => "#"} Users
                  %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                    %li
                      %a{:href => "/feeds/manage", :tabindex => "-1"} Manage
                    %li
                      %a{:href => "/askers", :tabindex => "-1"} Askers
                    %li
                      %a{:href => "/askers/edit_graph", :tabindex => "-1"} Graph                      

              %li
                .dropdown.nav-link
                  %a.nav-link{:href => "/clients", 'data-target' => "#"} Clients
                  %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                    - RateSheet.includes_clients_by_created_at.each do |r|
                      - client = r.clients[0]
                      - next if client.nil? or r.title.nil?
                      %li
                        %a{:href => "/clients/#{client.id}/report", :tabindex => "-1"}= r.title 
                        
                    %li.divider
                    - Client.includes_rate_sheets_by_created_at.each do |client|
                      - rs = client.rate_sheet
                      - next unless rs.nil?
                      - next if client.twi_screen_name.nil?
                      %li
                        %a{:href => "/clients/#{client.id}/report", :tabindex => "-1"}
                          %i= client.twi_screen_name 

              %li
                .dropdown.nav-link
                  %a.nav-link{:href => "/dashboard", 'data-target' => "#"} Founders
                  %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                    %li
                      %a{:href => "/dashboard", :tabindex => "-1"} Dashboard
                    %li
                      %a{:href => "/experiments", :tabindex => "-1"} A/B Tests
                    %li
                      %a{:href => "/tags", :tabindex => "-1"} Tags

              %li
                %a.nav-link{:href => "/users/supporters"} Supporters
              

            - elsif current_user.is_role? 'client'
              %li
                %a.nav-link{:href => "/clients/#{current_user.id}/report"} Reporting
            - elsif current_user.is_role? 'author'
              %li
                %a.nav-link{:href => "/questions"} My Questions

            - elsif current_user.is_role? "moderator"
              %li
                %a.nav-link{:href => "/feeds/moderator_manage"} Moderate
                
            - elsif Question.exists?(:user_id => current_user.id)
              %li.hidden-phone
                %a.nav-link{:href => "/users/#{current_user.id}/questions"}= "My Questions"

            - else
              %li.hidden-phone
                %a.nav-link{:href => "#"}= "Welcome #{current_user.twi_screen_name}!"

            %li= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "nav-link"
          - else
            %li= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter, :use_authorize => false), :class => (current_user ? "nav-link" : "auth_link nav-link")
