.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} Wisr
      .nav-collapse.in.collapse
        %ul.nav{:style => 'float:right;'}     
          - if current_user

            - if current_user.is_role?('admin')
              %li
                .dropdown.nav-link
                  %a{:href => "/askers", 'data-target' => "#"}= "Askers"
                  %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                    %li
                      %a{:href => "/askers", :tabindex => "-1"} All Askers
                    %li.divider
                    - User.askers.all.each do |a|
                      %li
                        %a{:href => "/feeds/#{a.id}", :tabindex => "-1"}= a.twi_screen_name 

            - else
              %li
                %a.nav-link{:href => "#"}= "Welcome #{current_user.twi_screen_name}!"

            %li= link_to "Sign Out", signout_path, :class => "nav-link"
            =# image_tag(current_user.twi_profile_img_url, :style => 'float:right;') 
          - else
            %li= link_to "Sign in with Twitter", "/auth/twitter"
