-@engagements.each do |e|
  .row{'e_id' => e.id}
    .span12.well
      .row
        .span11
          %h3{:style=>'text-align:center;'}= "Q. #{e.post.text if e.post}"
      .row  
        .span11
          %h3{:style=>'text-align:center;'}= "A. #{e.post.question.answers.correct.text if e.post and e.post.question}"
      .row
        .span5
          %h5= "@#{e.user.twi_screen_name}" if e.user
          %h5= "#{e.created_at}"
          %h3= raw e.text
        .span4
          .btn-group
            %button.btn.btn-success.first{'e_id' => e.id} First
            %button.btn.btn-success.correct{'e_id' => e.id} Correct
            %button.btn.btn-danger.incorrect{'e_id' => e.id} Incorrect
          %button.btn.btn-warning.skip{'e_id' => e.id} Skip